/* Color Properties */
/* Primary */
/* (CTA text) */
/* (CTA hover background) */
/* (headings) */
/* Neutral */
/*  (text) */
/* (footer text) */
/* (body copy) */
/* (footer background) */
/*  Gradient */
/* Background gradient - Intro/CTA mobile nav */
/* Background gradient - body */
/* Fonts */
/* CSS Reset */
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* Main CSS */
/* Headder Styling */
.head {
  width: 100%;
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, #ff8f70, #ff3d54);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 15rem;
  /* Headet top styling */
  /* Header top nav styling */
  /* Header bottom content styling */ }
  .head-top {
    margin: 0 10rem;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    gap: 5rem; }
    .head-top__menu-btn {
      display: none; }
    .head-top__nav-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer; }
    .head-top__btns {
      display: flex;
      gap: 5rem; }
    .head-top__btn {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.7rem;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.3s; }
      .head-top__btn--light {
        border: none;
        background: transparent;
        color: white; }
        .head-top__btn--light:hover {
          text-decoration: underline;
          text-decoration-color: white;
          transform: translateY(-2px); }
      .head-top__btn--white {
        padding: 1.5rem 3.5rem;
        border: none;
        border-radius: 50px;
        background: white;
        color: #ff525d; }
        .head-top__btn--white:hover {
          background-color: #ff7a85;
          color: white;
          transform: translateY(-2px); }
  .head-nav {
    position: relative;
    cursor: pointer; }
    .head-nav__wrapper {
      display: flex;
      gap: 5rem; }
    .head-nav__list {
      list-style: none;
      position: absolute;
      top: 2.5rem;
      width: 11rem;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.3rem;
      border-radius: 1rem;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s; }
      .head-nav__list-wrapper {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem; }
      .head-nav__list-item:hover {
        font-weight: 600; }
    .head-nav__btn {
      border: none;
      background: transparent;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      color: white;
      display: flex;
      justify-content: center;
      gap: 1.5rem; }
      .head-nav__btn:hover {
        text-decoration: underline;
        text-decoration-color: white; }
    .head-nav__img {
      transition: all 0.3s; }
  .head-bot {
    margin-top: 20rem;
    padding-bottom: 20rem;
    display: grid;
    justify-content: center;
    text-align: center; }
    .head-bot__heading {
      font-family: "Overpass", sans-serif;
      font-size: 6rem;
      color: white; }
    .head-bot__txt {
      padding-top: 1.5rem;
      padding-bottom: 5.5rem;
      font-family: "Overpass", sans-serif;
      font-size: 2.1rem;
      color: white; }
    .head-bot__btns {
      display: flex;
      justify-content: center;
      gap: 2.5rem; }
    .head-bot__btn {
      padding: 1.7rem 3rem;
      border-radius: 50px;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.7rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s; }
      .head-bot__btn--white {
        border: none;
        color: #ff525d; }
        .head-bot__btn--white:hover {
          background-color: #ff7a85;
          color: white;
          transform: translateY(-5px); }
      .head-bot__btn--light {
        border: 1px solid white;
        background: transparent;
        color: white; }
        .head-bot__btn--light:hover {
          background-color: white;
          color: #ff525d;
          transform: translateY(-5px); }

/* Section--1 stylinh */
.sec-future {
  transform: translateX(19rem);
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 7rem; }

.sec-heading {
  grid-column: 1/3;
  justify-self: center;
  text-align: center;
  transform: translate(-15rem, 5rem);
  font-size: 5rem; }

.sec-box {
  transform: translateY(3rem);
  align-self: center;
  grid-column: 1/2;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  gap: 5rem; }
  .sec-box__img {
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/4;
    width: 105%; }
  .sec-box__con-heading {
    padding-bottom: 2rem;
    font-family: "Overpass", sans-serif;
    font-size: 2.7rem; }
  .sec-box__con-txt {
    font-size: 1.7rem;
    font-family: "Overpass", sans-serif;
    line-height: 1.7; }

/* Section--2 styling */
.sec-art {
  border-bottom-left-radius: 15rem;
  border-top-right-radius: 15rem;
  overflow: visible;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30rem;
  align-content: center;
  background-image: url(../images/bg-pattern-circles.svg), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-position: left bottom; }
  .sec-art__img {
    justify-self: center;
    align-self: center;
    width: 600px; }
  .sec-art__con {
    align-self: center;
    padding-right: 10rem;
    color: white; }
    .sec-art__con-heading {
      padding-bottom: 2rem;
      font-family: "Overpass", sans-serif;
      font-size: 2.7rem; }
    .sec-art__con-txt {
      font-size: 1.7rem;
      font-family: "Overpass", sans-serif;
      line-height: 1.7; }

/* Section--3 styling */
.sec-free {
  transform: translateX(-32rem);
  margin: 15rem 0;
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: 13rem; }
  .sec-free__box {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 5rem; }
    .sec-free__box-img {
      width: 115%; }
    .sec-free__box-con-heading {
      padding-bottom: 2rem;
      font-family: "Overpass", sans-serif;
      font-size: 3rem; }
    .sec-free__box-con-txt {
      font-size: 1.7rem;
      font-family: "Overpass", sans-serif;
      line-height: 1.7; }

/* Footer styling */
.foot {
  padding: 10rem 25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: #25252d; }
  .foot-box__heading {
    margin-bottom: 2.5rem;
    font-size: 2.1rem;
    color: white; }
  .foot-box__nav {
    display: flex;
    flex-direction: column;
    gap: 1.7rem; }
    .foot-box__nav-list {
      list-style: none;
      font-size: 1.7rem;
      color: #c8c8cb; }

/* Attribution */
.attribution {
  margin-top: 5rem;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 11px;
  text-align: center;
  color: white; }

.attribution a {
  color: #ff525d; }

/* Media Queries */
@media screen and (max-width: 87.5em) {
  html {
    font-size: 55%; } }

@media screen and (max-width: 75em) {
  html {
    font-size: 50%; }
  .sec-future {
    transform: translateX(15rem); }
  .sec-free {
    transform: translateX(-25rem); }
  .sec-art__img {
    width: 470px; }
  .foot {
    padding: 10rem 10rem; } }

@media screen and (max-width: 62.5em) {
  html {
    font-size: 50%; }
  .head-top {
    margin: 0 5rem; }
  /* section-1 */
  .sec-future {
    transform: translateX(0);
    margin: 15rem 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 7rem; }
  .sec-heading {
    grid-column: 1/2;
    align-self: flex-end;
    text-align: center;
    transform: translate(0, 0); }
  .sec-box {
    margin: 0 3.5rem;
    transform: translateY(0rem);
    align-self: center;
    text-align: center;
    grid-row: 3/4;
    gap: 5rem; }
    .sec-box__img {
      padding-top: 0;
      padding: 0 5rem;
      width: 100%;
      align-self: center;
      grid-row: 2/3;
      grid-column: 1/2; }
  /* section-2 */
  .sec-art__con {
    padding-right: 5rem; }
  .sec-art__img {
    width: 400px; }
  /* secction -3 */
  .sec-free {
    transform: translateX(0);
    grid-template-columns: 1fr;
    gap: 7rem; }
    .sec-free__box {
      margin: 0 3.5rem;
      text-align: center; }
      .sec-free__box-img {
        width: 100%;
        justify-content: center; }
  /* footer */
  .foot {
    padding: 10rem 10rem; } }

@media only screen and (max-width: 47em) {
  /* header top nav */
  .head {
    /* navigation */ }
    .head-top {
      position: relative;
      justify-content: space-between; }
      .head-top__menu-btn {
        display: block;
        background: none;
        border: none;
        cursor: pointer; }
      .head-top__menu-img {
        transition: all 0.3s; }
      .head-top__nav-box {
        transform: translateX(-200%);
        width: 100%;
        padding: 5rem 3.5rem;
        background-color: white;
        position: absolute;
        top: 15rem;
        right: 0%;
        border-radius: 1rem;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
        flex-direction: column;
        z-index: 10;
        transition: all 0.3s; }
      .head-top__btns {
        padding-top: 5rem;
        margin-right: 0;
        flex-direction: column;
        gap: 3.5rem; }
      .head-top__btn {
        color: #4b5862; }
        .head-top__btn--light {
          padding-right: 1.5rem; }
        .head-top__btn--white {
          background-color: #ff525d;
          color: white; }
          .head-top__btn--white:hover {
            background-color: #ff7a85; }
    .head-nav {
      display: flex;
      flex-direction: column; }
      .head-nav:last-child {
        padding-bottom: 2.5rem; }
      .head-nav__wrapper {
        flex-direction: column;
        align-items: center;
        padding-bottom: 2.5rem;
        border-bottom: 1px solid #c8c8cb; }
      .head-nav__list {
        position: relative;
        width: 35rem;
        font-size: 1.5rem;
        color: #4b5862;
        border-radius: 1rem;
        background-color: #eaeaeb;
        max-height: 0px; }
        .head-nav__list-wrapper {
          padding: 2rem 1.5rem;
          align-items: center;
          gap: 1.3rem; }
      .head-nav__btn {
        color: #4b5862; }
  /* section--2 */
  .sec-art {
    margin-top: 30rem;
    min-height: 55rem;
    grid-template-columns: 1fr;
    background-position: bottom center; }
    .sec-art__img {
      transform: translateY(-15rem);
      justify-self: center;
      align-self: top; }
    .sec-art__con {
      text-align: center;
      padding-right: 0;
      margin: 0rem 3.5rem; }
  /* footer */
  .foot {
    grid-template-columns: 1fr;
    grid-row-gap: 3.5rem;
    text-align: center;
    border-top-right-radius: 10rem; } }

@media screen and (max-width: 29em) {
  html {
    font-size: 45%; }
  .head-nav__list {
    width: 25rem; }
  .head-bot__heading {
    font-size: 3.7rem; }
  .sec-art {
    gap: 3.5rem;
    border-bottom-left-radius: 7rem;
    border-top-right-radius: 7rem;
    margin-top: 30rem;
    height: 40rem;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 25rem; }
    .sec-art__img {
      transform: translateY(-8rem);
      width: 300px; }
    .sec-art__con {
      text-align: center; } }

/* Javascript triggere classes */
.visible {
  max-height: 500px; }

.viewMenu {
  transform: translateX(0); }

.preload * {
  transition: none !important; }
